html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#content {
  height:100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: monospace;
}

#content #background {
  margin: auto;
  height: 90%;
}

#content span {
  background-color: black;
  color: white;
}

#content #text {
  position: absolute;
  bottom: 70px;
  font-size: medium;
  left: 50%;
  transform: translate(-50%, 0);
}

#content #title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
}

#content #control {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav {
  cursor: pointer;
  margin: 0 10px 0 10px;
}

.nav:active {
  filter: invert(75%);
}

#credits span {
  margin: 0 5px 0 5px;
}

/* background animation */
.fadeIn {
  animation: fadeIn ease 0.5s;
}

.fadeOut {
  animation: fadeOut ease 0.5s;
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
